<section class="section preim">
<div class="container">
    <h2 class="preim__title">Преимущества кровельных работ в «СтройПригород»</h2>
    <div class="preim-block">
    <div class="preim-block__item preim-block__one">
        <h4 class="preim-block__name">Монтаж под ключ</h4>
        <div class="preim-block__desc">Полный комплекс кровельных работ для плоских и скатных крыш в одной строительной компании.</div>
    </div>
    <div class="preim-block__item preim-block__two">
        <h4 class="preim-block__name">Опытные сотрудники</h4>
        <div class="preim-block__desc">Все мастера обладают практическим опытом монтажа кровельных материалов для плоских и скатных крыш от 5 лет.</div>
    </div>
    <div class="preim-block__item preim-block__three">
        <h4 class="preim-block__name">Техническое оснащение</h4>
        <div class="preim-block__desc">Строительные бригады оснащены новым профессиональным оборудованием и инструментом.</div>
    </div>
    <div class="preim-block__item preim-block__four">
        <h4 class="preim-block__name">Соблюдение сроков</h4>
        <div class="preim-block__desc">Проект четко планируется, все работы выполняются по графику и заканчиваются в назначенный срок.</div>
    </div>
    <div class="preim-block__item preim-block__five">
        <h4 class="preim-block__name">Соблюдение технологий</h4>
        <div class="preim-block__desc">Кровельные работы осуществляются по новым технологиям в соответствии с требованиями СНиП.</div>
    </div>
    <div class="preim-block__item preim-block__six">
        <h4 class="preim-block__name">Официальная гарантия</h4>
        <div class="preim-block__desc">Выполненные работы сопровождаются официальной гарантией сроком в 1 год, зафиксированной в договоре.</div>
    </div>
    </div>
</div>
</section>