{% load solo_tags %}
{% get_solo 'home.InfoCompany' as info %}

<section class="vopros">
    <div class="container">
        <div class="vopros-block">
        <div class="vopros-block__left"></div>
        <div class="vopros-block__right">
            <h2>Остались вопросы по монтажу или ремонту крыши?</h2>
            <p>Строительно-монтажная компания «{{ info.name }}» готова выполнить кровельные работы любой сложности из всех современных кровельных материалов. Чтобы воспользоваться нашими услугами, просто позвоните по номеру телефона <a href="tel:{{ info.phone }}">  {{ info.get_format_phone }}</a> или отправьте заявку онлайн. Специалисты компании выполнят бесплатный осмотр объекта, помогут подобрать подходящий кровельный материал, произведут расчет и составят смету.</p>
        </div>
        </div>
    </div>
</section>