{% load static %}
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <title>Монтаж и ремонт мягкой кровли В Краснодаре и пригороде</title><!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE = edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Профессиональный ремонт кровли любой сложности. Мы используем только качественные материалы с завода &amp;quot;Технониколь&amp;quot;.Гарантия - 3 года.">
    <meta name="keywords" content="">
    <meta property="og:url" content="#">
    <meta property="og:type" content="website">
    <meta property="og:title" content="СтройПригород">
    <meta property="og:description" content="Профессиональный ремонт кровли любой сложности. Мы используем только качественные материалы с завода &amp;quot;Технониколь&amp;quot;.Гарантия - 3 года.">
    <meta property="og:image" content="static/images/general/logo.jpg">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.min.css' %}"><!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script><![endif]-->
  </head>
  <body>
    <!-- <div class="overlay">
      <div class="overlay__title">Стройпригород</div>
    </div> -->
    <header class="header">
      <div class="header-top">
        <div class="container">
          <div class="header-top__desc">
            <p>Кровельные работы от команды профессионалов</p>
          </div>
          <div class="header-top__description"></div>
          <div class="header-top__time">Ежедневно с 8.00 до 23.00</div>
          <div class="header-top__email"><a href="mailto:info@stroyprigorod.ru">info@stroyprigorod.ru</a></div>
          <div class="header-top__instagram"><a href="https://www.instagram.com/remont_krishi_irkutsk/" alt="Instagram" title="Мы в Instagram">
              <svg class="svg-sprite-icon icon-instagram btn__icon">
                <use xlink:href="static/images/svg/symbol/sprite.svg#instagram"></use>
              </svg></a></div>
        </div>
      </div>
      <div class="header-center">
        <div class="container">
          <div class="header-center__logo">
            <p>Стройпригород</p>
          </div>
          <div class="header-center__description"></div>
          <div class="header-center__phone">
            <svg class="svg-sprite-icon icon-phone-call btn__icon">
              <use xlink:href="static/images/svg/symbol/sprite.svg#phone-call"></use>
            </svg><a class="header-center__link" href="tel:+78612920560" id="PHONE_TOP">+7 (861)292-05-60</a>
          </div>
         <div class="header-center__callback"><a class="btn small" href="#callback">Обратный звонок</a></div>
        </div>
      </div>
    </header>
    <div class="content">
      <section class="one">
        <div class="container">
          <div class="left">
            <h1 class="one-title one__title">Монтаж и ремонт кровли в Краснодаре и пригороде</h1>
            <div class="one__desc">Широкий спектр услуг по ремонту, замене и монтажу кровли. Доступные цены, надёжные поставщики материала и гарантия качества.</div>
            <div class="one_subtitle">
              <ul class="one__subtitlelist">
                <li>Бесплатно проведем осмотр и замер объекта в черте г. Краснодара</li>
                <li>Проконсультируем по подбору материала и снижению затрат на строительство</li>
                <li>Рассчитаем количество материалов и составим смету</li>
              </ul>
            </div>
            <div class="one__button">
              <button class="btn" data-item="Рассчитать кровлю - главный экран" id="MAIN_FORM" data-subject="Рассчитать кровлю">
                <svg class="svg-sprite-icon icon-accounting btn__icon">
                  <use xlink:href="static/images/svg/symbol/sprite.svg#accounting"></use>
                </svg>Рассчитать кровлю
              </button>
            </div>
          </div>
          <div class="right"></div>
        </div>
      </section>
      <section class="section me">
          <div class="container">
              <div class="me__block">
                  <div class="me__left">
                      <img src="static/images/general/roman.jpg" alt="">
                  </div>
                  <div class="me__right">
                      <div class="me__title">Здравствуйте, меня зовут Роман. Я - мастер по ремонту кровли.<br>Проконсультирую вас бесплатно по телефону +7 (861)292-05-60</div>
                      <div class="me__desc">Основной принцип моей работы - честность и качество. Никаких дополнительных накруток и скрытых платежей. После замера вашей крыши и выбора материала, я сразу же посчитаю итоговую сумму со всей работой. По окончанию работ сумма не изменится. Если где-то ошибся в расчетах, заплачу сам.</div>
                  </div>
              </div>
          </div>
      </section>
      <section class="section vigoda">
        <div class="container">
          <h2 class="vigoda__title">Ваша выгода работы с нами</h2>
          <p class="vigoda__desc">Сотрудничество с нами принесёт вам исключительно положительные эмоции и отличный результат.</p>
          <div class="vigoda-block">
            <div class="vigoda-block__item">Собственное гибочное производство</div>
            <div class="vigoda-block__item">Бесплатный выезд на замер и расчет сметы</div>
            <div class="vigoda-block__item">Материалы по цене производителя</div>
            <div class="vigoda-block__item">Доставка материала со скидкой</div>
          </div>
          <div class="vigoda-block">
            <div class="vigoda-block__item">Опыт работы более 5 лет</div>
            <div class="vigoda-block__item">Оплата после завершения работ</div>
            <div class="vigoda-block__item">Онлайн трансляция с объекта</div>
            <div class="vigoda-block__item">Оплата по карте</div>
          </div>
        </div>
      </section>
      <section class="section portfolio">
        <div class="container">
          <h2 class="portfolio__title">Наши работы</h2>
          <div class="portfolio-block">
            <div class="portfolio-block__item"><a href="static/images/content/str-krovelnye-raboty-portfolio-img1.jpg" data-imagelightbox="c"><img class="portfolio-block__img" src="static/images/content/str-krovelnye-raboty-portfolio-img1.jpg" alt=""></a></div>
            <div class="portfolio-block__item"><a href="static/images/content/str-krovelnye-raboty-portfolio-img2.jpg" data-imagelightbox="c"><img class="portfolio-block__img" src="static/images/content/str-krovelnye-raboty-portfolio-img2.jpg" alt=""></a></div>
            <div class="portfolio-block__item"><a href="static/images/content/str-krovelnye-raboty-portfolio-img3.jpg" data-imagelightbox="c"><img class="portfolio-block__img" src="static/images/content/str-krovelnye-raboty-portfolio-img3.jpg" alt=""></a></div>
            <div class="portfolio-block__item"><a href="static/images/content/str-krovelnye-raboty-portfolio-img4.jpg" data-imagelightbox="c"><img class="portfolio-block__img" src="static/images/content/str-krovelnye-raboty-portfolio-img4.jpg" alt=""></a></div>
            <div class="portfolio-block__item"><a href="static/images/content/str-krovelnye-raboty-portfolio-img7.jpg" data-imagelightbox="c"><img class="portfolio-block__img" src="static/images/content/str-krovelnye-raboty-portfolio-img7.jpg" alt=""></a></div>
            <div class="portfolio-block__item"><a href="static/images/content/str-krovelnye-raboty-portfolio-img8.jpg" data-imagelightbox="c"><img class="portfolio-block__img" src="static/images/content/str-krovelnye-raboty-portfolio-img8.jpg" alt=""></a></div>
            <div class="portfolio-block__item"><a href="static/images/content/2b45b6f71c8aad51c020d8f5c30cf5e9.jpg" data-imagelightbox="c"><img class="portfolio-block__img" src="static/images/content/2b45b6f71c8aad51c020d8f5c30cf5e9.jpg" alt=""></a></div>
            <div class="portfolio-block__item"><a href="static/images/content/6e62fc7a864a2fb653b694dc869bcd89.jpg" data-imagelightbox="c"><img class="portfolio-block__img" src="static/images/content/6e62fc7a864a2fb653b694dc869bcd89.jpg" alt=""></a></div>
            <div class="portfolio-block__item"><a href="static/images/content/79332aaff5ed618b087bab5cddc7c4d1.jpg" data-imagelightbox="c"><img class="portfolio-block__img" src="static/images/content/79332aaff5ed618b087bab5cddc7c4d1.jpg" alt=""></a></div>
            <div class="portfolio-block__item"><a href="static/images/content/ESgfqTGd3zI.jpg" data-imagelightbox="c"><img class="portfolio-block__img" src="static/images/content/ESgfqTGd3zI.jpg" alt=""></a></div>
            <div class="portfolio-block__item"><a href="static/images/content/eWNU2H__smc.jpg" data-imagelightbox="c"><img class="portfolio-block__img" src="static/images/content/eWNU2H__smc.jpg" alt=""></a></div>
            <div class="portfolio-block__item"><a href="static/images/content/maxresdefault-2.jpg" data-imagelightbox="c"><img class="portfolio-block__img" src="static/images/content/maxresdefault-2.jpg" alt=""></a></div>
            <div class="portfolio-block__item"><a href="static/images/content/maxresdefault-3.jpg" data-imagelightbox="c"><img class="portfolio-block__img" src="static/images/content/maxresdefault-3.jpg" alt=""></a></div>
            <div class="portfolio-block__item"><a href="static/images/content/str-krovelnye-raboty-portfolio-img5.jpg" data-imagelightbox="c"><img class="portfolio-block__img" src="static/images/content/str-krovelnye-raboty-portfolio-img5.jpg" alt=""></a></div>
            <div class="portfolio-block__item"><a href="static/images/content/Wo4tsKKojic.jpg" data-imagelightbox="c"><img class="portfolio-block__img" src="static/images/content/Wo4tsKKojic.jpg" alt=""></a></div>
          </div>
        </div>
      </section>
      <section class="section price">
        <div class="container">
          <h2 class="price__title">Кровельные работы плоской крыши</h2>
          <p class="price__desc">Кровельные работы для плоской крыши в зависимости от используемого материала, выполняются в следующем порядке: подготовка основания кровли, монтаж профлиста, монтаж пароизоляции, утепление кровли, устройство разуклонки, устройство цементно-песчаной стяжки, грунтование, гидроизоляция кровли. Ниже представлены цены на некоторые виды работ для плоских крыш. Позвоните нам, чтобы узнать стоимость кровельных работ вашего проекта.</p>
          <p class="price__small">Вся представленная на сайте информация, касающаяся стоимости услуг, носит информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437(2) Гражданского кодекса РФ.</p>
          <div class="price-block">
            <div class="price-block__item">
              <div class="price-block__img"><img src="static/images/content/str-krovelnye-raboty-uteplenie-krovli.jpg" alt="Утепление минеральной ватой"></div>
              <h4 class="price-block__title">Утепление минеральной ватой</h4>
              <div class="price-block__price">от 90 руб./м2</div>
              <div class="price-block__button">
                <button class="btn small" data-item="Утепление минеральной ватой" id="UTEPLENIEMINERALNOYVATOY">Рассчитать кровлю</button>
              </div>
            </div>
            <div class="price-block__item">
              <div class="price-block__img"><img src="static/images/content/str-krovelnye-raboty-uteplenie-keramzitom.jpg" alt="Утепление керамзитом"></div>
              <h4 class="price-block__title">Утепление <br>керамзитом</h4>
              <div class="price-block__price">от 170 руб./м2</div>
              <div class="price-block__button">
                <button class="btn small" data-item="Утепление керамзитом" id="UTEPLENIEKERAMZITOM">Рассчитать кровлю</button>
              </div>
            </div>
            <div class="price-block__item">
              <div class="price-block__img"><img src="static/images/content/str-krovelnye-raboty-ustrojstvo-styazhki-1.jpg" alt="Устройство стяжки"></div>
              <h4 class="price-block__title">Устройство <br>стяжки</h4>
              <div class="price-block__price">от 280 руб./м2</div>
              <div class="price-block__button">
                <button class="btn small" data-item="Устройство стяжки" id="USTROYSTVOSTYAJKI">Рассчитать кровлю</button>
              </div>
            </div>
            <div class="price-block__item">
              <div class="price-block__img"><img src="static/images/content/str-krovelnye-raboty-gidroizolyaciya-mastikoj.jpg" alt="Гидроизоляция мастикой"></div>
              <h4 class="price-block__title">Гидроизоляция <br>мастикой</h4>
              <div class="price-block__price">от 50 руб./м2</div>
              <div class="price-block__button">
                <button class="btn small" data-item="Гидроизоляция мастикой" id="GIDROIZOLYATSIYAMASTIKOY">Рассчитать кровлю</button>
              </div>
            </div>
            <div class="price-block__item">
              <div class="price-block__img"><img src="static/images/content/str-krovelnye-raboty-ustrojstvo-naplavlyaemoj-krovli.jpg" alt="Устройство наплавляемой кровли 1 слой"></div>
              <h4 class="price-block__title">Устройство наплавляемой кровли 1 слой</h4>
              <div class="price-block__price">от 190 руб./м2</div>
              <div class="price-block__button">
                <button class="btn small" data-item="Устройство наплавляемой кровли 1 слой" id="NAPLAVLYAEMAYAKROVLYA1">Рассчитать кровлю</button>
              </div>
            </div>
            <div class="price-block__item">
              <div class="price-block__img"><img src="static/images/content/str-krovelnye-raboty-ustrojstvo-naplavlyaemoj-krovli.jpg" alt="Устройство наплавляемой кровли 2 слоя"></div>
              <h4 class="price-block__title">Устройство наплавляемой кровли 2 слоя</h4>
              <div class="price-block__price">от 350 руб./м2</div>
              <div class="price-block__button">
                <button class="btn small" data-item="Устройство наплавляемой кровли 2 слоя">Рассчитать кровлю</button>
              </div>
            </div>
            <div class="price-block__item">
              <div class="price-block__img"><img src="static/images/content/str-krovelnye-raboty-kromka-kirpichnaya-stena-naplavlyaemoj-krovli.jpg" alt="Устройство примыкания к кирпичной стене"></div>
              <h4 class="price-block__title">Устройство примыкания к кирпичной стене</h4>
              <div class="price-block__price">от 250 руб./п.м.</div>
              <div class="price-block__button">
                <button class="btn small" data-item="Устройство примыкания к кирпичной стене" id="PRIMIKANIEKIRPICHNOYSTENI">Рассчитать кровлю</button>
              </div>
            </div>
            <div class="price-block__item">
              <div class="price-block__img"><img src="static/images/content/str-krovelnye-raboty-kromka-dymohoda-naplavlyaemoj-krovli.jpg" alt="Устройство примыкания к дымоходу"></div>
              <h4 class="price-block__title">Устройство примыкания к дымоходу</h4>
              <div class="price-block__price">от 250 руб./п.м.</div>
              <div class="price-block__button">
                <button class="btn small" data-item="Устройство примыкания к дымоходу" id="PRIMIKANIEKDIMOHODU">Рассчитать кровлю</button>
              </div>
            </div>
          </div>
        </div>
          <h2 class="price__title">Кровельные работы скатной крыши</h2>
          <p class="price__desc">Кровельные работы для скатной крыши состоят из 5 основных этапов. Первый этап - монтаж стропильной системы которая включает монтаж мауэрлата, монтаж стропил, монтаж подкосов, монтаж обрешетки и контробрешетки. Второй этап - изоляция кровли, состоящая из пароизоляции, гидроизоляции и теплоизоляции. Третий этап - монтаж кровельного материала. Четвертый этап - вентиляция кровли. Пятый этап - монтаж дополнительных элементов кровли таких как, монтаж мансардных окон, монтаж снегодержателей, монтаж молниезащиты, монтаж водосточной системы. Ниже представлены цены на некоторые виды кровельных работ и цены на монтаж наиболее востребованных материалов. Позвоните нам, чтобы узнать стоимость кровельных работ вашего проекта.</p>
          <p class="price__small">Вся представленная на сайте информация, касающаяся стоимости услуг, носит информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437(2) Гражданского кодекса РФ.</p>
          <div class="price-block">
            <div class="price-block__item">
              <div class="price-block__img"><img src="static/images/content/str-krovelnye-raboty-montazh-stropilnoj-sistemy.jpg" alt="Монтаж стропильной системы"></div>
              <h4 class="price-block__title">Монтаж стропильной системы</h4>
              <div class="price-block__price">от 450 руб./м2</div>
              <div class="price-block__button">
                <button class="btn small" data-item="Монтаж стропильной системы" id="MONTAJSTROPILNOYSISTEMI">Рассчитать кровлю</button>
              </div>
            </div>
            <div class="price-block__item">
              <div class="price-block__img"><img src="static/images/content/str-krovelnye-raboty-montazh-mauehrlata.jpg" alt="Устройство мауэрлата"></div>
              <h4 class="price-block__title">Устройство <br>мауэрлата</h4>
              <div class="price-block__price">от 250 руб./п.м.</div>
              <div class="price-block__button">
                <button class="btn small" data-item="Устройство мауэрлата" id="MAUERLATA">Рассчитать кровлю</button>
              </div>
            </div>
            <div class="price-block__item">
              <div class="price-block__img"><img src="static/images/content/str-krovelnye-raboty-montazh-obreshetki.jpg" alt="Монтаж обрешетки"></div>
              <h4 class="price-block__title">Монтаж <br>обрешетки</h4>
              <div class="price-block__price">от 140 руб./м2</div>
              <div class="price-block__button">
                <button class="btn small" data-item="Монтаж обрешетки" id="MONTAJOBRESHETKI">Рассчитать кровлю</button>
              </div>
            </div>
            <div class="price-block__item">
              <div class="price-block__img"><img src="static/images/content/str-krovelnye-raboty-montazh-uteplitelya.jpg" alt="Монтаж утеплителя"></div>
              <h4 class="price-block__title">Монтаж <br>утеплителя</h4>
              <div class="price-block__price">от 90 руб./м2</div>
              <div class="price-block__button">
                <button class="btn small" data-item="Монтаж утеплителя" id="MONTAJUTEPLITELYA">Рассчитать кровлю</button>
              </div>
            </div>
            <div class="price-block__item">
              <div class="price-block__img"><img src="static/images/content/str-krovelnye-raboty-metallocherepica.jpg" alt="Монтаж металлочерепицы"></div>
              <h4 class="price-block__title">Монтаж <br>металлочерепицы</h4>
              <div class="price-block__price">от 300 руб./м2</div>
              <div class="price-block__button">
                <button class="btn small" data-item="Монтаж металлочерепицы" id="MONTAJMETALLOCHEREPITSI">Рассчитать кровлю</button>
              </div>
            </div>
            <div class="price-block__item">
              <div class="price-block__img"><img src="static/images/content/str-krovelnye-gibkaya-cherepica-1.jpg" alt="Монтаж гибкой черепицы"></div>
              <h4 class="price-block__title">Монтаж гибкой черепицы</h4>
              <div class="price-block__price">от 450 руб./м2</div>
              <div class="price-block__button">
                <button class="btn small" data-item="Монтаж гибкой черепицы" id="MONTAJGIBKOYCHEREPITSI">Рассчитать кровлю</button>
              </div>
            </div>
            <div class="price-block__item">
              <div class="price-block__img"><img src="static/images/content/str-krovelnye-raboty-montazh-profnastila.jpg" alt="Монтаж профнастила"></div>
              <h4 class="price-block__title">Монтаж <br>профнастила</h4>
              <div class="price-block__price">от 250 руб./м2</div>
              <div class="price-block__button">
                <button class="btn small" data-item="Монтаж профнастила" id="MONTAJPROFNASTILA">Рассчитать кровлю</button>
              </div>
            </div>
            <div class="price-block__item">
              <div class="price-block__img"><img src="static/images/content/str-krovelnye-raboty-vodostochnaya-sistema.jpg" alt="Монтаж водосточной системы"></div>
              <h4 class="price-block__title">Монтаж водосточной системы</h4>
              <div class="price-block__price">от 350 руб./п.м.</div>
              <div class="price-block__button">
                <button class="btn small" data-item="Монтаж водосточной системы" id="MONTAJVODOSTOKA">Рассчитать кровлю</button>
              </div>
            </div>
          </div>
          
      </section>
      <section class="section preim">
        <div class="container">
          <h2 class="preim__title">Преимущества кровельных работ в «СтройПригород»</h2>
          <div class="preim-block">
            <div class="preim-block__item preim-block__one">
              <h4 class="preim-block__name">Монтаж под ключ</h4>
              <div class="preim-block__desc">Полный комплекс кровельных работ для плоских и скатных крыш в одной строительной компании.</div>
            </div>
            <div class="preim-block__item preim-block__two">
              <h4 class="preim-block__name">Опытные сотрудники</h4>
              <div class="preim-block__desc">Все мастера обладают практическим опытом монтажа кровельных материалов для плоских и скатных крыш от 5 лет.</div>
            </div>
            <div class="preim-block__item preim-block__three">
              <h4 class="preim-block__name">Техническое оснащение</h4>
              <div class="preim-block__desc">Строительные бригады оснащены новым профессиональным оборудованием и инструментом.</div>
            </div>
            <div class="preim-block__item preim-block__four">
              <h4 class="preim-block__name">Соблюдение сроков</h4>
              <div class="preim-block__desc">Проект четко планируется, все работы выполняются по графику и заканчиваются в назначенный срок.</div>
            </div>
            <div class="preim-block__item preim-block__five">
              <h4 class="preim-block__name">Соблюдение технологий</h4>
              <div class="preim-block__desc">Кровельные работы осуществляются по новым технологиям в соответствии с требованиями СНиП.</div>
            </div>
            <div class="preim-block__item preim-block__six">
              <h4 class="preim-block__name">Официальная гарантия</h4>
              <div class="preim-block__desc">Выполненные работы сопровождаются официальной гарантией сроком в 1 год, зафиксированной в договоре.</div>
            </div>
          </div>
        </div>
      </section>
      <section class="vopros">
        <div class="container">
          <div class="vopros-block">
            <div class="vopros-block__left"></div>
            <div class="vopros-block__right">
              <h2>Остались вопросы по монтажу или ремонту крыши?</h2>
              <p>Строительно-монтажная компания «СтройПригород» готова выполнить кровельные работы любой сложности из всех современных кровельных материалов. Чтобы воспользоваться нашими услугами, просто позвоните по номеру телефона <a href="tel:+78612920560">  +7 (861)292-05-60</a> или отправьте заявку онлайн. Специалисты компании выполнят бесплатный осмотр объекта, помогут подобрать подходящий кровельный материал, произведут расчет и составят смету.</p>
            </div>
          </div>
        </div>
      </section>
      <div class="price-form form">
        <div class="form__block">
          <form id="priceForm">
            <h3 class="form__title">Рассчитать кровлю</h3>
            <input type="hidden" name="item" value="Форма с ценами">
            <input type="hidden" name="form_subject" value="">
            <div class="form_input">
              <input class="input-field form__name" type="text" placeholder="Имя" name="Имя" required>
            </div>
            <div class="form_input">
              <input class="input-field form__phone" type="tel" placeholder="Телефон" name="Телефон" required>
            </div>
            <div class="form_input">
              <button class="btn" type="submit" id="FORMSEND">
                <svg class="svg-sprite-icon icon-paper-plane btn__icon">
                  <use xlink:href="static/images/svg/symbol/sprite.svg#paper-plane"></use>
                </svg>Отправить заявку
              </button>
            </div>
            <p class="politika">
              <input type="checkbox" name="send_ok" id="check" checked>
              <label for="check"><span>Я согласен с <a href="#" target="_blank">правилами обработки данных</a></span></label>
            </p>
          </form>
        </div>
      </div>
    </div>
    <footer class="footer"></footer>
    <script src="{% static 'js/libs.min.js' %}"></script>
    <script src="{% static 'js/sweetalert.min.js' %}"></script>
    <script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>